

  <div class="header">
    <h1>Login</h1>
  </div>

    <div class="signupForm">
      <form action='/login' method="POST">
      <input type="text" name="email" placeholder="Enter Email">
      <br/>
      <input type="password" name="password_digest" placeholder="Enter Password">
      <br/>
      <input type="submit" value="Login">
      </form>
    </div>
