<div class="header">
<h1> Sign Up! </h1>
</div>


<div class="signupForm">
<form action='/signup' method="POST">
  <input type="text" name="name" placeholder="Enter Full Name" required/>
  <br/>
  <input type="text" name="email" placeholder="Enter Email" required/>
  <br/>
  <input type="password" name="password" placeholder="Enter Password" required/>
  <br/>
  <input type="submit" value="Signup">
</form>
</div>