<h1>Title Generator</h1>

<form action="/titles" method="POST">
    <label for="title">Algorithm title generator here</label>
    <input id="title" type="text" name="title" />
    <input type="submit" />
</form>

# we will want to somehow link this to our /blogpost/new page