<div class="container">
  <header></header>
  <main>
    <div class="intro">
    <h1> Welcome to </br>
    Creative Block Lightning </h1>
    <p>A title generating app for writers block</p>
    </div>
   

    <div class="login">
       <a class="btn" href="/signup">Sign Up</a>
      <p> or </p>
      <a class="btn btn-anchor" href="/login"> Login</a>
    </div> 

  </main>
</div>


