<div class="container">
  <header></header>
  <main>
    <div class="intro">
    <h1> Welcome to </br>
    Creative Block Lightning </h1>
    <p>A title generating app for writers block</p>
    </div>
   

    <div class="login">
       <a class="btn" href="/signup">Sign Up</a>
      <p> or </p>
      <a class="btn btn-anchor" href="/login"> Login</a>
    </div> 

    <div>
      <% if logged_in? %>

        <a href="/blogposts/new"> Create Blogpost </a>
        < a href="/logout"> Log Out </a>
        < p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
    </div>

  </main>
</div>


